includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon # Optional: For cutting-edge rules

parameters:
    level: 5
    paths:
        - src
#        - tests
    scanFiles:
        - loader.php
        - index.php
        - devtools.php
    excludePaths:
        - */vendor/* # Exclude vendor directory
    fileExtensions:
        - php
    parallel:
        maximumNumberOfProcesses: 4
    treatPhpDocTypesAsCertain: false # Treat PHPDoc types as certain to be more strict
    polluteScopeWithLoopInitialAssignments: false # Optional: Configures scope behaviour in loops
